.modal-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4000;
}

.modal-box {
  position: fixed;
  z-index: 4001;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
}

.show {
  display: block;
  animation: linear-show-func 0.2s linear;
}

.hide {
  display: none;
  animation: linear-hide-func 0.2s linear;
}

@keyframes linear-show-func {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes linear-show-func {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes linear-hide-func {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
