
.breadcrumb-box {
  padding-left: 40px;
  margin-bottom: 10px;
  display: block;
  background: #fff;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  border-bottom: 1px solid #dfe3eb;
}

.breadcrumb-box span {
  outline: none;
  cursor: pointer;
}

.login-btn {
  float: right;
  width: 80px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
