.upload-page {
  margin: 30px;
}

.upload-box {
  width: 80px;
  height: 35px;
  background: #1FBF5B;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  position: relative;
}

.upload-box input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}
