.radio-group-box {

}

.radio-item {
  float: left;
  margin-right: 20px;
}

.radio-box {
  border-radius: 50%;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 5px;
}

.radio-active {
  border-radius: 50%;
  background: #fff;
}

.radio-label {
  font-size: inherit;
}
