<!--左移、右移1页，点击事件、跳转-->
<div class="pagination-box">
  <span class="cur-page">第 {{curPage}} / {{totalPage}} 页</span>
  <div>
    <button *ngIf="curPage!=1"
            (click)="changePage(curPage-1)" class="pagination-item"> <
    </button>
    <button (click)="changePage(pageNo)" class="pagination-item" [ngClass]="{'pagination-active':curPage==pageNo}"
            *ngFor="let pageNo of pageList">{{pageNo}}
    </button>
    <button *ngIf="curPage!=totalPage"
            (click)="changePage(curPage+1)"
            class="pagination-item"> >
    </button>
  </div>
</div>
