.form-page {
  width: 100%;
  clear: both;
  overflow: hidden;
  padding: 30px 0;
}

.form-part {
  width: 45%;
  margin-left: 2%;
  float: left;
}

.form-box {
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  clear: both;
  overflow: hidden;
  min-height: 340px;
}

.form-group {
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}

.form-group label {
  width: 14%;
  padding-right: 6%;
  float: left;
  text-align: right;
  line-height: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
}

.form-content {
  width: 80%;
  float: left;
}

.form-radio {
  margin-top: 10px;
}

.form-group input {
  width: 95%;
  padding: 0 2%;
  height: 40px;
  border: 1px solid #dfe3eb;
  border-radius: 5px;
}

.form-btn {
  text-align: center;
  margin-left: -10%;
}

button, .default-btn {
  background: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  outline: none;
  border: 1px solid #dfe3eb;
}

.default-btn:hover{
  background: #eee;
}

.confirm-btn {
  background: #20B2AA;
  color: #fff;
  margin-left: 30px;
}

.confirm-btn:hover {
  background: #40E0D0;
}

.form-checkbox {
  display: flex;
  justify-content: flex-start;
  float: left;
  margin-right: 25px;
  margin-top: 10px;
}

.form-checkbox-desc {
  margin-left: 5px;
}

.upload-box {
  width: 80px;
  height: 35px;
  background: #1FBF5B;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  position: relative;
}

.upload-box input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}
