<div class="checkbox-component">
  <div class="checkbox-box"
       [ngStyle]="{
     'background': checkboxBg,
     'width':checkboxSize+'px',
     'height': checkboxSize+'px',
     'cursor': checkDisabled?'not-allowed':'',
     'border': '1px solid '+(checkboxBorderColor?checkboxBorderColor:checkboxBg)
     }"
       (click)="changeStatus(checkStatus)">
    <div *ngIf="checkStatus"
         [ngStyle]="{
       'background':'url('+checkIcon+')',
       'width':checkboxSize+'px',
       'height': checkboxSize+'px',
       'background-size': ' cover'
       }"
         [ngClass]="{'checkbox-icon-white':(!checkIcon && checkboxColor=='white'), 'checkbox-icon-black':(!checkIcon && checkboxColor=='black')}"
    ></div>
    <div>
    </div>
  </div>
  <span class="checkbox-desc">
  {{checkLabel}}
</span>
</div>
