<div class="table-page">
  <div class="table-search-bar">
    <search (search)="search($event)" [palceholder]="'请输入菜名'" [keyword]="params.keyword"></search>
    <div class="data-picker-box"><date-picker [date]="date" (search)="dateSearch($event)"></date-picker></div>
  </div>

 <div animation="linear-show">
   <table class="table">
     <thead>
     <tr>
       <th></th>
       <th *ngFor="let label of labelList;let i=index">
         {{ label }}
       </th>
     </tr>
     </thead>
     <tbody dragula='table-bag' [dragulaModel]="data">
     <tr *ngFor="let item of data;let i=index" class="grab">
       <td>{{i+1}}</td>
       <td [tooltip]="item.name" [color]="'black'" [direction]="'bottom'">{{item.name}}</td>
       <td>{{item.price | fixed:2}}</td>
       <td>{{item.address}}</td>
       <td>{{item.receiver}}</td>
       <td>{{item.remark}}</td>
       <td>
         <switcher [model]="item" [attr]="'status'" [value]="!!item.status"></switcher>
       </td>
       <td>
         <!--<button (click)="alertMsg(item,i)" class="btn-default">{{"click" | translate}}</button>-->
         <icon [name]="'delete'" [type]="'svg'" [desc]="'删除'"></icon>
         <icon routerLink="/table/table_detail" [name]="'detail'" [type]="'svg'" [desc]="'详情'"></icon>
       </td>
     </tr>
     </tbody>
   </table>
   <div class="page-row">
     <pagination (changeCurPage)="getPageData($event)" [totalNum]="pageConfig.totalNum" [curPage]="pageConfig.curPage"></pagination>
   </div>
 </div>
</div>
