<div [ngStyle]="{'width':screenWidth}">
  <div class="table" animation="linearShow">
    <div class="tr">
      <div class="td"
           *ngFor="let label of labelList;let i=index"
           [ngStyle]="{'width':tableConfig.width[i],'height':tableConfig.height}">
        {{ label }}
      </div>
    </div>
    <div class="tr" *ngFor="let item of data;let i=index">
      <div class="td"
           *ngFor="let key of getKeys(item);let i=index"
           [ngStyle]="{'width':tableConfig.width[i],'height':tableConfig.height}"
           [tooltip]="item[key]"
      >
        {{ item[key] }}
      </div>
      <div class="td" [ngStyle]="{'width':tableConfig.width[tableConfig.width.length-1]}">
        <button (click)="alertMsg(item,i)" class="btn-default">点我</button>
      </div>
    </div>
  </div>
  <pagination (changeCurPage)="getPageData($event)" [totalPage]="pageConfig.totalPage" [curPage]="pageConfig.curPage"></pagination>
  <!--<button (click)="openModal()">test</button>-->
  <div routerLink="/table/table_detail">详情</div>

</div>
