<div class="table-page">
  <div class="table-search-bar">
    <search (search)="search($event)" [palceholder]="'请输入菜名'"></search>
  </div>

  <table animation="linear-show">
    <tr>
      <td *ngFor="let label of labelList;let i=index">
        {{ label }}
      </td>
    </tr>
    <tr *ngFor="let item of data;let i=index">
      <td *ngFor="let key of getKeys(item);let i=index">
        <div [tooltip]="item[key]" tooltip-type="black" class="item-length">
          {{ item[key] }}
        </div>
      </td>
      <td>
        <button (click)="alertMsg(item,i)" class="btn-default">点我</button>
        <button routerLink="/table/table_detail" class="btn-default">详情</button>
      </td>
    </tr>
  </table>
  <div class="page-row">
    <pagination (changeCurPage)="getPageData($event)" [totalPage]="pageConfig.totalPage"
                [curPage]="pageConfig.curPage"></pagination>
  </div>
  <!--<button (click)="openModal()">test</button>-->
</div>
