table {
  width: 98%;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  font-size: 14px;
}

tr:nth-child(odd) {
  background: #eee;
}

tr:first-child {
  background: #dfe3eb;
}

tr:hover {
  background: #dfe3eb;
}

td {
  padding: 5px 10px;
  line-height: 30px;
  height: 40px;
}

.page-row {
  width: 98%;
  margin: 20px 1% 30px 1%;
}

.item-length {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-search-bar {
  padding: 5px 1% 10px 1%;
}

.grab{
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}
