.document-page {
  width: 96%;
  padding: 20px 1%;
  margin: 20px 1%;
  font-size: 14px;
  background: #fff;
  clear: both;
  overflow: hidden;
}

.document-left {
  width: 25%;
  float: left;
}

.document-left > div {
  border-right: 1px solid #dfe3eb;
}

.document-right {
  width: 73%;
  padding-left: 2%;
  float: left;
}

.document-row {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.document-title {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}

.document-checkbox {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}

.html-section-title {
  margin: 10px 0;
}

.html-section {
  padding: 5px 15px;
  background: #F4F4F4;
  margin: 10px 0;
}

pre {
  font-family: '微软雅黑', Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
}
