<div class="document-page">
  <div class="document-left">
    <div>Demo功能：</div>
    <div *ngFor="let api of apiList;let i=index" class="document-row" (click)="select(i)">
      <div class="document-checkbox">
        <checkbox (changeCheckStatus)="changeStatus($event, i)" [checkboxSize]="20" [checkStatus]="api.checkStatus"
                  [checkDisabled]="true"
                  [checkboxBg]="'#dfe3eb'"></checkbox>
      </div>
      <span class="document-title">
      {{i+1}}. {{api.title}}
    </span>
    </div>
  </div>
  <div class="document-right">
    <div>版本1.0</div>
    <h6>文档说明：</h6>
    {{index+1}} . {{apiList[index].title}}

    <!--文档详细说明-->

    <!---->
    <div *ngIf="apiList[index].title=='图表'">
      Chart.js
    </div>

    <div *ngIf="apiList[index].title=='上传文件'">
      <a href="https://github.com/valor-software/ng2-file-upload" target="_blank">文件上传插件ng2-file-upload</a>
      再看看这个回答，待优化：https://github.com/valor-software/ng2-file-upload/issues/718
    </div>

    <div *ngIf="apiList[index].title=='富文本'">
      Todo：需要做成组件，将自定义的上传图片加入进去，要考虑宽度和高度的自定义样式
    </div>

    <div *ngIf="apiList[index].title=='上传文件'">
      ng2-file-upload
    </div>

    <div *ngIf="apiList[index].title=='图片裁剪'">
      ngx-image-cropper
    </div>

    <div *ngIf="apiList[index].title=='导航栏'">
      侧边和顶部
      <br>
      Todo：用户头像昵称、登入登出；权限设置
    </div>

    <div *ngIf="apiList[index].title=='拖拽排序'">
      <a href="https://github.com/valor-software/ng2-dragula" target="_blank">ng2-dragula</a>
    </div>

    <div *ngIf="apiList[index].title=='tooltip'">
      Todo：不一定根据长度判断是否显示；需要设置显示的位置，不一定是底部，可以自定义，有四个方向
    </div>

    <div *ngIf="apiList[index].title=='模态框'">
      Todo：支持定制大小；点击遮罩层关闭应为可选；去掉手动设置状态值；可选两个默认按钮以及对应回调事件
    </div>

    <div *ngIf="apiList[index].title=='filter'">
      fixed:n,(n>=0) 保留小数点后n位
      <br>
      Todo：字符串长度，最大值，最小值
    </div>

    <div *ngIf="apiList[index].title=='http'">
      请求的url都放在apiService中
    </div>

    <div *ngIf="apiList[index].title=='message'">
      顶部自动消失小提示，底部的横条提示，alert（确认和取消两种可选按钮，warning,dander,success,default四种默认类型，自定义颜色和可选的自动消失时长）
    </div>

  </div>
</div>
