<div class="document-page">
  <div class="document-left">
    <div>Demo功能：</div>
    <div *ngFor="let api of apiList;let i=index" class="document-row" (click)="select(i)">
      <div class="document-checkbox">
        <checkbox (changeCheckStatus)="changeStatus($event, i)" [checkboxSize]="20" [checkStatus]="api.checkStatus"
                  [checkDisabled]="true"
                  [checkboxBg]="'#dfe3eb'"></checkbox>
      </div>
      <span class="document-title">
      {{i+1}}. {{api.title}}
    </span>
    </div>
  </div>
  <div class="document-right">
    <div>版本1.0</div>
    <h6>文档说明：</h6>
    {{index+1}} . {{apiList[index].title}}

    <!--文档详细说明-->

    <!---->
    <div *ngIf="apiList[index].title=='表格'">

    </div>

    <div *ngIf="apiList[index].title=='上传文件'">
      <a href="https://github.com/valor-software/ng2-file-upload" target="_blank">文件上传插件ng2-file-upload</a>
      再看看这个回答，待优化：https://github.com/valor-software/ng2-file-upload/issues/718
    </div>

  </div>
</div>
