.tab-box {
  width: 100%;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.tab-title-bar {
  overflow: hidden;
}

.tab-title:first-child, .tab-title:last-child {
  border-radius: 8px 8px 0 0;
}

.tab-title {
  width: 100px;
  text-align: center;
  cursor: pointer;
  float: left;
  height: 46px;
  line-height: 30px;
  background: #dfe3eb;
}

.tab-title > div {
  padding: 8px 0;
  border-radius: 8px 8px 0 0;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-title-active > div {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  background: #fff;
  overflow: hidden;
  animation: tab-show-func 0.3s linear
}

@keyframes tab-show-func {
  0% {
    background: #dfe3eb;
  }
  100% {
    background: #fff;
  }
}

@-webkit-keyframes tab-show-func {
  0% {
    background: #dfe3eb;
  }
  100% {
    background: #fff;
  }
}

.tab-title-flat {
  width: 120px;
  text-align: center;
  cursor: pointer;
  float: left;
  height: 40px;
  line-height: 24px;
  background: #dfe3eb;
  margin-right: 5px;
}

.tab-title-flat > div {
  padding: 8px 0;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-title-active-flat > div {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background: #57cdff;
  color: #fff;
  overflow: hidden;
  animation: tab-flat-show-func 0.3s linear
}

@keyframes tab-flat-show-func {
  0% {
    background: #dfe3eb;
  }
  100% {
    background: #57cdff;
  }
}

@-webkit-keyframes tab-flat-show-func {
  0% {
    background: #dfe3eb;
  }
  100% {
    background: #57cdff;
  }
}
