html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #ebeff5;
  font-family: '微软雅黑', Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.service-msg {
  padding: 10px 15px;
  position: fixed;
  top: 90px;
  width: 200px;
  font-size: 12px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  animation: show-msg 3s;
  opacity: 0;
  border: 1px solid #1FBF5B;
  color: #1FBF5B;
}

.btn-default {
  background: #fff;
  border: 1px solid #dfe3eb;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 5px;
  outline: none;
}

@keyframes show-msg {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show-msg {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*日历组件样式问题*/

.ngx-datepicker-container > .ngx-datepicker-input {
  padding: 10px !important;
}

.ngx-datepicker-calendar-container {
  z-index: 10000 !important;
  padding-right: 30px !important;
  overflow-y: auto !important;
}

.main-calendar-years {
  overflow-y: auto !important;
}
