html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ebeff5;
  font-family: '微软雅黑', Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.breadcrumb-box {
  width: 99%;
  padding-left: 1%;
  margin-bottom: 10px;
  display: block;
  background: #fff;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

.breadcrumb-box span {
  outline: none;
  cursor: pointer;
}

.service-msg {
  padding: 10px 15px;
  position: fixed;
  top: 90px;
  width: 200px;
  font-size: 12px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  animation: show-msg 3s;
  opacity: 0;
  border: 1px solid #ddffff;
}

.btn-default {
  background: #fff;
  border: 1px solid #dfe3eb;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 5px;
  outline: none;
}

@keyframes show-msg {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show-msg {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
