<div class="tab-page">
  <tab [curIndex]="curTabIndex" (changeTab)="getTabData($event)"></tab>
  <div class="tab-content-box">
    <div class="tab-content">
      选中第{{curTabIndex+1}}个标签
      <button class="btn-default" (click)="openModal(i)">open</button>
      <modal [modalStatus]="showStatus" (close)="closeModal()">
        这是第{{curTabIndex+1}}个标签的模态框
        <div>
          <button (click)="closeModal()">
            close
          </button>
        </div>
      </modal>
    </div>
  </div>
</div>
